/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #0f0e0d;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para a logo */
.logo {
    width: 250px;
    height: auto;
}

/* Menu de navegação */
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #d81010;
}

/* Estilo para as seções */
section {
    display: none;
    padding: 20px;
    text-align: center;
}

/* Seção ativa */
section.active {
    display: block;
}

/* Os títulos das seções */
section h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Formulário */
form {
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #d81010;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4b3f3f;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
